@font-face {
    font-family: Roboto-Bold;
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("fonts/Roboto-Regular.ttf");
}
@keyframes btn1-anim {
    from{background-color: #0A85ED;}
    to{background-color: #195f99;}
    
}
@keyframes border-inp {
    from{border-color: #caccce;}
    to{border-color: #0A85ED;}
}

*{
    margin:0;
    padding:0;
}
input{
    all:unset;
    color: rgba(0, 0, 0, 0.171);
}
body, html{
    height: 100%;
}
body{
    background-image: url("img/login-background.png");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* LOGIN BOARD____________________________________________________________________________ */
.loginBoard{
    Width: 70vw;
    height: 85vh;
    background-color: white;
    border-radius: 1vw;
    display: flex;
}
/* LEFT PANEL LOGIN_______________________________________________________________________ */
.leftPanelLogin{
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    height: 100%;
    width: 65%;
}
.contactTutorialAndSupport{
    width: 100%;
    height: 90%;
    background-image: url("img/guysketch2.png");
    background-size: cover;
    background-position-x: 4vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 1%;
    gap: 4%;
}
.box1{
    width: 37%;
    height: 22%;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    box-sizing: border-box;
}
.lpl-ctas-header{
    /* background-color: brown; */
    width: 100%;
    height: 20%;
    background-image: url("img/icon2.png");
    background-repeat: no-repeat;
    background-position-y: 0.2vh;
    background-position-x: 4%;
    background-size: 7% 85%;
    padding-left: 12%;
    padding-top: 2%;
    box-sizing: border-box;
    color: #0A85ED;
    font-family: Roboto-Bold;
    font-size: 0.8vw;
}
.lpl-ctas-content{
    /* background-color: aqua; */
    width: 100%;
    height: 40%;
    font-family: Roboto-Regular;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    font-size: 0.7vw;
}
.lpl-ctas-btns{
    /* background-color: blueviolet; */
    width: 100%;
    height: 26%;
    box-sizing: border-box;
    display: flex;
    padding-left: 4%;
    gap: 4%;
}

.btn-1{
    background-color: #0A85ED;
    border-radius: 1vw;
    color: white;
    font-family: Roboto-Bold;
    text-align: center;
    text-transform: uppercase;
    height: 3.8vh;
    font-size: 0.7vw;
}
.btn-1:hover{
    animation: btn1-anim 1s forwards;
}
.btn-1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:white;
    text-decoration: none;
    font-size: 0.7vw;
}
.btn-mail{
    width: 40%;
}
.btn-form{
    width: 40%;
}
.btn-tutorial{
    width: 60%;
    margin-left: 13%;
}
.btn-instagram{
    width: 60%;
    margin-left: 13%;
}

/* RIGHT PANEL LOGIN _______________________________________________________________________*/
.rightPanelLogin{
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    height: 100%;
    width: 35%;
    box-shadow: -0.5vw 0 2vw rgb(202, 202, 202);
    padding-top: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
/* CHANGE LANGUAGE */
.changeLanguage{
    display: flex;
    width: 100%;
    height: 5%;
    font-family: Roboto-Bold;
    /* background-color: red; */
    gap: 1%;
    align-items: flex-end;
    justify-content: end;
    box-sizing: border-box;
    padding-right: 12%;
    font-size: 0.8vw;
}
.eng-lang, .pl-lang{
    cursor: pointer;
}
.helloText{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    height: 7%;
    margin-top: 30%;
    box-sizing: border-box;
    padding-left: 12%;
    color: #212529;
}
.helloText h2{
    background-image: url("img/icon3.png");
    background-repeat: no-repeat;
    background-position-y: 0.2vh;
    background-size: 1vw 1vw;
    height: 40%;
    font-family: Roboto-Bold;
    box-sizing: border-box;
    padding-left: 7%;
    font-size: 1.2vw;
}
.helloText p{
    font-family: Roboto-Regular;
    font-size: 0.8vw;
}
.login-form{
    /* background-color: orange; */
    width: 100%;
    height: 40%;


}
.form-1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    height: 70%;
    /* background-color: green; */
    box-sizing: border-box;
    padding-left: 12%;
    padding-right: 12%;
    font-family: Roboto-Regular;
}
.fontform{
    font-family: Roboto-Bold;
    margin-top: 1.5%;
    font-size: 0.8vw;
    color: #0A85ED;
}
.form-1 p{
    font-size: 0.6vw;
}
.form-1 a{
    text-decoration: none;
    color: #0A85ED;
}
#usrlogin{
    color: black;
    background-color: white;
    height: 3.8vh;
    border-radius: 0.7vw;
    border: 0.1vw #caccce solid;
    font-size: 0.7vw;
    font-family: Roboto-Regular;
    box-sizing: border-box;
    padding-left: 1vw;
}
#usrlogin::placeholder{
    color: #979797;
}
#usrpass{
    color: black;
    background-color: white;
    height: 3.8vh;
    width: 17vw;
    border-bottom-left-radius: 0.7vw;
    border-top-left-radius: 0.7vw;
    border-top: 0.1vw #caccce solid;
    border-bottom: 0.1vw #caccce solid;
    border-left: 0.1vw #caccce solid;
    font-size: 0.7vw;
    box-sizing: border-box;
    padding-left: 1vw;
}
#usrpass:focus{
    animation: border-inp 2s forwards;
}
#usrpass:focus + .showPass{
    animation: border-inp 2s forwards;
}
#usrpass::placeholder{
    background-image: url("img/icon4.png");
    background-repeat: no-repeat;
    background-position-x: 1vw;
    background-size: 0.6vw 0.8vw;
    background-position-y: 1vh;
    color: #979797;
}
.passwo{
    display: flex;
    flex-direction: row;
}
.showPass{
    border-top: 0.1vw #caccce solid;
    border-bottom: 0.1vw #caccce solid;
    border-right: 0.1vw #caccce solid;
    width: 2vw;
    height: 3.6vh;
    top:-20vh;
    background-image: url("img/Icon5.png");
    background-repeat: no-repeat;
    border-bottom-right-radius: 0.7vw;
    border-top-right-radius: 0.7vw;
    background-position-y: 0.7vh;
}
.form-1 input[type=text]:focus{
    animation: border-inp 2s forwards;
    
}
.form-1 input[type=submit]{
    cursor: pointer;
}
.usub{
    margin-top: 3%;
}
.copyright{
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    color: #9f9fa0;
    font-size: 0.6vw;
    font-family: Roboto-Regular;
    box-sizing: border-box;
    padding-left: 12%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3%;
}
.pong{
    display: none;
    background-color: #e4af4d;
    border-radius: 50%;
    position: absolute;
}
#pong{   
    width: 1.4vw;
    height: 1.4vw;   
    left:21vw;
    top: 58vh;
}
#pong2{
    width: 0.8vw;
    height: 0.8vw;
    left:25.4vw;
    top: 13vh;
}
#pong3{
    width: 1.2vw;
    height: 1.2vw;
    left:58vw;
    top: 10vh;
}
#handguy{
    position: absolute;
    width: 15vw;
    height: 30vh;
    left: 20.2vw;
    top: 18vh;
    background-image: url("img/handguy.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: #caccce; */
}
#dotguy{
    position: absolute;
    width: 3.5vw;
    height: 3.5vh;
    background-image: url("img/guydot.png");
    background-size: 3.5vw 100%;
    top: 17.75vh;
    left: 22.2vw;
}
#closea{
    display: none; 
    position: absolute; 
    z-index:3;
    width: 2vw;
    height: 2vw;
    background-image: url("img/cross.png");
    background-size:cover;
    border-radius: 1vw;
    top: 40.5vh;
    left: 60vw;
    cursor: pointer;
}
#warning1
{
    font-size: 0.7vw;
    margin-top: 1vh;
    color: red;
}