@font-face {
    font-family: Roboto-Bold;
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("fonts/Roboto-Regular.ttf");
}
@keyframes btn1-anim {
    from{background-color: #0A85ED;}
    to{background-color: #195f99;}
    
}
*{
    margin:0;
    padding:0;
}
body, html{
    height: 100%;
}
body{
    background-image: url("img/login-background.png");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* LOGIN BOARD */
.loginBoard{
    Width: 70vw;
    height: 85vh;
    background-color: white;
    border-radius: 1vw;
    display: flex;
}
/* LEFT PANEL LOGIN */
.leftPanelLogin{
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    height: 100%;
    width: 65%;
}
.contactTutorialAndSupport{
    width: 100%;
    height: 90%;
    background-image: url("img/guysketch.png");
    background-size: cover;
    background-position-x: 4vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 1%;
    gap: 4%;
}
.box1{
    width: 37%;
    height: 22%;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    box-sizing: border-box;
}
.lpl-ctas-header{
    /* background-color: brown; */
    width: 100%;
    height: 20%;
    background-image: url("img/icon2.png");
    background-repeat: no-repeat;
    background-position-y: 0.2vh;
    background-position-x: 4%;
    background-size: 7% 85%;
    padding-left: 12%;
    padding-top: 2%;
    box-sizing: border-box;
    color: #0A85ED;
    font-family: Roboto-Bold;
    font-size: 0.8vw;
}
.lpl-ctas-content{
    /* background-color: aqua; */
    width: 100%;
    height: 40%;
    font-family: Roboto-Regular;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    font-size: 0.7vw;
}
.lpl-ctas-btns{
    /* background-color: blueviolet; */
    width: 100%;
    height: 26%;
    box-sizing: border-box;
    display: flex;
    padding-left: 4%;
    gap: 4%;
}

.btn-1{
    background-color: #0A85ED;
    border-radius: 1vw;
    color: white;
    font-family: Roboto-Bold;
    text-align: center;
}
.btn-1:hover{
    animation: btn1-anim 1s;
}
.btn-1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:white;
    text-decoration: none;
    font-size: 0.7vw;
}
.btn-mail{
    width: 40%;
    height: 100%;
}
.btn-form{
    width: 40%;
    height: 100%;
}
.btn-tutorial{
    width: 60%;
    height: 100%;
    margin-left: 13%;
}
.btn-instagram{
    width: 60%;
    height: 100%;
    margin-left: 13%;
}

/* RIGHT PANEL LOGIN */
.rightPanelLogin{
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    height: 100%;
    width: 35%;
    box-shadow: -0.5vw 0 2vw rgb(202, 202, 202);
}