#addP{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: solid 0.1vw #8c8c8c;
    background-color: white;
    color: #8c8c8c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.3vw;
    float: right;
    margin-top: -1.5vh;
    margin-left: 0.1vw;
    display: none;
}
#addP:hover
{
    border: solid 0.1vw #0A85ED;
    background-color: #e0f1fe;
    color: #0A85ED;
}
/* .dayOfTheWeek:hover .numberOfWeek > div
{
    visibility: visible !important;
    background-color: #0A85ED  !important;
} */

#remP{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 0.1vw #8c8c8c;
    background-color: white;
    color: #8c8c8c;
    cursor: pointer;
    font-size: 1.6vw;
    float: right;
    margin-top: -1.5vh;
}
#remP:hover
{
    border: solid 0.1vw #d17d7d;
    background-color: #efe7e7;
    color: #d17d7d;
}

#newPrompt{
    position: absolute;
    background-color: white;
    border-radius: 1vw;
    outline: black solid 0.2vw;
    width: 15vw;
    height: 20vh;
    padding-left: 0.3vw;
}
#newPrompt h3{
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
    gap: 2vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: white;
}
#listOfUsers{
    float: left;
    background-color: lightgrey;
    border-right: solid 0.1vw black;
    width: 50%;
    height: 13vh;
}
#currentlyOnShift{
    float: right;
}
#newPrompt input[type=submit]
{
    position: absolute;
    bottom: 0;
    left:0;
    text-align: center;
    height: 5vh;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    width: 100%; 
}
#closeAddPrompt{
    cursor: pointer;
}
.headerMainCalendar{
    display: flex;
    align-items: center;
    font-size: 2vw;
    gap: 2vw;
}
.headerMainCalendar .numberOfDay{
    display: flex;
}
.headerMainCalendar .numberOfDay p{
    margin-left: 0.5vw;
    margin-right: 1vw;
}
#nameOfMonth{
    box-sizing: border-box;
    padding: 0.5vw;
    border-radius: 1vw;
}
#nameOfMonth:hover
{
    background-color: #e3e3e3;
    cursor: pointer;
}
.monthArrow
{
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 2vh;
    padding-left: 0.5vw;

}
.monthArrow:hover
{
    background-color: #e3e3e3;
    cursor: pointer;

}
