
.windowButton
{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: solid 0.1vw #8c8c8c;
    background-color: white;
    color: #8c8c8c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.3vw;
    float: right;
    margin-top: -1.5vh;
    margin-left: 0.1vw;
    display: none; 
}
/* Start custom window buttons */
#addP{
    margin-left: 0.1vw;
}
#addP:hover
{
    border: solid 0.1vw #0A85ED;
    background-color: #e0f1fe;
    color: #0A85ED;
}

#remP:hover
{
    border: solid 0.1vw #d17d7d;
    background-color: #efe7e7;
    color: #d17d7d;
}
#addV{
    font-size: 0.8vw;
}
#addV:hover
{
    border: solid 0.1vw #87d17d;
    background-color: #eaefe7;
    color: #87d17d
}
#remV
{
    font-size: 0.8vw;
}
#remV:hover
{
    border: solid 0.1vw #ca7dd1;
    background-color: #dbc8dc;
    color: #ca7dd1
}
/* End of custom window buttons */
#newWindow{
    position: absolute;
    background-color: white;
    border-radius: 0.5vw;
    /* outline: rgb(183, 183, 183) solid 0.15vw; */
    box-shadow: 0 0 2vw #565656 ;
    width: 15vw;
    height: 22vh;
    padding: 0.3vw;
    padding-right: 0.5vw;
}
#newWindow select
{
    all: unset;
    
}
#newWindow .newWindowHeader{
    display: flex;
    justify-content: space-between;
    font-family: Roboto-Regular;
    font-size: 1vw;
    gap: 2vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    background-color: white;
    padding: 0.2vw;
}
#newWindow .listOfUsers #headerListOfUsers
{
    font-size: 0.8vw;
    color: white;
    padding: 0.8vw;
}

#newWindow #listOfUsersToAddToDay.listOfUsers #headerListOfUsers
{
    background-color: #0A85ED;
}

#newWindow #listOfUsersToGrantVacation.listOfUsers #headerListOfUsers
{
    background-color: #63cb55;
}
#newWindow #listOfUsersToRemoveFromDay.listOfUsers #headerListOfUsers
{
    background-color: #cb5555;
}
#newWindow #listOfUsersToRevokeVacation.listOfUsers #headerListOfUsers
{
    background-color: #c47985;

}
#newWindow.revokingWindow input[type="submit"]
{
    background-color: #c47985;
}
#newWindow.removingWindow input[type="submit"]
{
    background-color: #cb5555;
}
#newWindow option{
    font-size: 0.8vw;
    padding: 0.2vw;
    padding-top: 0.5vw;
    padding-left: 0.8vw;
}
#newWindow.addingUserWindow option
{
    background-color: #a4caea;
    color: black;
    

}

#newWindow select option::after
{
    display: block;
    /* color:rgb(162, 182, 242); */
    font-size: 0.6vw;
    content: ' UserId:' attr(value) '';
}
.listOfUsers{
    float: left;
    /* //background-color: #0A85ED; */
   
    width: 50%;
    height: 14vh;
    overflow: auto;
    border-radius: 0.2vw;
}

#newWindow.addingVacationWindow .listOfUsers select option
{
    background-color: #d5e4d4;
}
.addingVacationWindow input[type="submit"]
{
    background-color: #63cb55;
}
.addingVacationWindow .listOfUsers select option::after
{
    color: #306829;
}
#currentlyOnShift{
    float: right;
}
#newWindow input[type=submit]
{
    position: absolute;
    bottom: 0;
    left:0;
    text-align: center;
    height: 5vh;
    cursor: pointer;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    width: 100%; 
    color: white;
}
#closeAddPrompt{
    cursor: pointer;
}
.headerMainCalendar{
    display: flex;
    align-items: center;
    font-size: 2vw;
    gap: 2vw;
}
.headerMainCalendar .numberOfDay{
    display: flex;
}
.headerMainCalendar .numberOfDay p{
    margin-left: 0.5vw;
    margin-right: 1vw;
}
#nameOfMonth{
    box-sizing: border-box;
    padding: 0.5vw;
    border-radius: 1vw;
}
#nameOfMonth:hover
{
    background-color: #e3e3e3;
    cursor: pointer;
}
.monthArrow
{
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 2vh;
    padding-left: 0.5vw;

}
.monthArrow:hover
{
    background-color: #e3e3e3;
    cursor: pointer;

}



#toastLostVacation
{
    height: 0.8vw;
    margin-left: 1vw;
    background-color: yellow;
    width:0;
}
/* Right Panel */

.rightPanel
{
    background-image: url("img/panelRight.png");
    height: 100%;
    width: 18%;
    font-size: 1vw;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
}
.filtersForCalendar
{
    border-radius: 0.5vw;
    background-color: #ffffffa3;
    box-sizing: border-box;
    padding: 0.5vw;
    margin-bottom: 2vh;
}
.header-cal-right
{
    margin-bottom: 1vh;
}
.calendarFilterSelect
{
    all: unset;
    font-size: 0.8vw;
    background-color: white;
    width: 100%;
    text-transform: capitalize;
    height: 4vh;
    box-sizing: border-box;
    padding-left: 10%;
    border-radius: 0.5vw;

    margin-bottom: 1vh;
}

.SelectUserForStatistics
{
    border-radius: 0.5vw;
    width: 100%;
    height: 20vh;
    background-color: #ffffffa3;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.5vw;
}

.UserToSelect
{

    width: 100%;
    height: 7vh;
    background-color: white;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    margin-bottom: 0.8vh;
}

.UserToSelectAvatar
{
    width: 2vw;
    height: 2vw;
    background-size: cover;
}
.UserToSelect_SurnameAndName
{
    font-size: 0.8vw;
    font-weight: bold;
}
.UserToSelect_OtherInfo
{
    font-size: 0.6vw;
}
.UserToSelect_button
{
    color: #fff;
    background-color: #0A85ED;
    font-size: 0.7vw;
    text-transform: uppercase;
    padding: 0.4vw;
    border-radius: 0.5vw;
    cursor: pointer;
}
.UserToSelect_button:hover
{
    background-color: #0865b1;
}

/* Statistic */
.StatisticForUser
{
    border-radius: 0.5vw;
    margin-top: 2vh;
    width: 100%;
    background-color: white;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1vw;
}
.StatisticAvatar
{
    width: 5vw;
    height: 5vw;
    background-size: cover;
}
.StatisticUserDescription
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.StatisticUserNameAndSurname
{
    font-size: 1vw;
    font-weight: bold;
}
.UserIdentyficators
{
    font-size: 0.8vw;
    color: #777575;
}
.StatisticShiftsForUser
{
    /* background-color: #63cb55; */
    width: 15vw;
    padding: 0.5vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.StatisticFlagForShift
{
    width: 1vw;
    height:0.5vw;
    border-radius: 0.2vw;
    margin-right: 0.2vw;
}
.StatisticNameOfShift
{
    font-size: 0.7vw;
}
/* graph */
.StatisticGraph{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(
        from 0deg,
        #0865b1 0deg 50deg,
        #63cb55 50deg 70deg,
        #c0c0c0 70deg 360deg
    );
}
.StatisticGraph_mask{
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    position: flex;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.StatisticLeftHours_name
{
    font-size: 0.8vw;
}
.StatisticLeftHours
{
    font-size: 1.2vw;
    font-weight: bold;
}

.StatisticCalendar
{
    margin-top: 2vh;
    width: 100%;
    height: 20vh;
    /* //background-color: #0865b1; */
    font-size: 0.8vw;
}
.StatisticCalendar table
{
    width:100%;
    border-spacing: 0.1vw;
}
.StatisticCalendar td{
    text-align: center;
    border-radius: 1vw;
    padding: 0.1vw;

}

/* additional */
@media print
{    @page {
        size: landscape
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
    .landScape
    {
        width: 100%;
        height: 100%;
        margin: 0% 0% 0% 0%;
        filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
    }
    .dayOfTheWeek
    {
        width: 13.5vw;
        outline: solid black 0.2vw;
    }
    .nameDayOfTheWeek
    {
        font-size: 1vw;
        outline: none;
    }
}

  
