@font-face {
    font-family: Roboto-Bold;
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("fonts/Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(190, 190, 190);
    font-family: Roboto-Regular;
}
input{
    all:unset;
}
/* USER LEFT PANEL */
.userLeftPanel
{
    height: 100%;
    width: 15%;
    background-color: #212529;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userLeftPanel .userLogout
{
    width: 100%;
    height: 7vh;
    font-size: 0.8vw;
}
.userLeftPanel .userLogout img{
    width: 2vw;
    height: 2vw;
    float: right;
    margin-right: 1vw;
    margin-top: 0.5vh;
}
.userLeftPanel .userLogout a{
    text-decoration: none;
    color: white;
    font-size: 0.8vw;
}
.timeToLogout
{
    display: flex;
    gap: 0.4vw;
}

.userLeftPanel .userData{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.userLeftPanel .userData h2{
    margin-top: 5%;
    font-family: Roboto-Bold;
    font-size: 1.2vw;
}
.userLeftPanel .userData p{
    text-transform: capitalize;
    font-size: 0.8vw;
}

.userLeftPanel img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}
.button1{
    background-color: #0A85ED;
    width: 10vw;
    height: 5vh;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3vw;
    cursor: pointer;
    margin-top: 2vh;
}



/* CENTER PANEL */
.centerPanel
{
    background-color: azure;
    height: 100%;
    width: 67%;
}
.centerPanel h2{
    font-size: 2vw;
}
.addUser{
    width: 34vw;
    overflow: hidden;
    margin-top: 15vh;
    margin-left: 15vw;
    font-size: 0.8vw;
    border-radius: 1vw;
    display: none;
}
.addUser form{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 1vh;
    height: 60vh;
    width: 36vw;
    background-color: #d6d6d6;
    padding: 1.5vw;
    border-radius: 1vw;
}
.addUser form p{
    margin-top: 6vh;
}
.addUser input[type="text"]{
    background-color: white;
    width: 12vw;
    height: 3vh;
    border:0.1vw solid #0A85ED;
    border-radius: 1vw;
    padding-left: 1vw;
}
.addUser input[type="submit"]{
    color:white;
    text-align: center;

}
.addUser input[type="password"]{
    background-color: white;
    width: 12vw;
    height: 3vh;
    border:0.1vw solid #0A85ED;
    border-radius: 1vw;
    padding-left: 1vw;
}
.addUser select{
    all: unset;
}
.addUser select{
    width: 12vw;
    height: 3vh;
    background-color: white;
    border:0.1vw solid #0A85ED;
    border-radius: 1vw;
    font-size: 0.7vw;
    padding-left: 1vw;
}

#userAvatarShow{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}
#tohide
{
    display: none;
}
#addP{
    width: 2vw;
    height: 2vh;
    background-color: #0A85ED;
}
/* Calendar */
.calendarMode{
    font-size: 0.8vw;
    display: flex;
    /* display: none; */
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainCalendar{
    display: flex;
    flex-wrap:wrap;
    width: 95%;
    height: 70%;
    /* margin-left: 2vw; */
}
.dayOfTheWeek{
    background-color: #fff;
    width: 9vw;
    height: 13vh;
    outline: 0.15vw solid #969696;
}
.outDay{
    background-color: #cacaca;

}
.nameDayOfTheWeek
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 5%;
    /* outline-color: white; */
    
}
.printCalendar{
    align-self: flex-end;
    margin-right: 2vw;
    color: white;
}
#working
{
    display: flex;
    gap: 0.2vw;
}
.userW
{
    background-color: rgb(202, 216, 243);
    padding: 0.1vw;
    border: solid 0.1vw cornflowerblue;
    border-radius: 0.1vw;
}
#vacation
{
    display: flex;
    gap: 0.1vw;
}
.userV
{
    background-color: rgb(183, 188, 197);
    padding: 0.1vw;
    border: solid 0.1vw rgb(42, 53, 75);
    border-radius: 0.1vw;
}
select{
    width: 100%;
}

/* PANEL RIGHT  */
.rightPanel
{
    background-image: url("img/panelRight.png");
    height: 100%;
    width: 18%;
    font-size: 1vw;
    background-size: cover;
}