#tabsShift
{
    width: 100%;
    display: flex;
    height: 2vw;
    position:absolute;
    z-index: 2;
    top: 18vh;
    left: 27vw;
    
}
.tabshifts
{
    box-sizing: border-box;
    font-size: 1vw;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3vw;
    border: 0.1vw solid #cccccc;
    border-bottom: none;
    cursor: pointer;
}

#Shift_Add
{
    background-color: white;
}
.ShiftModule
{
    background-color: white;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShiftForm
{
    width: 50vw;
    height: 70vh;
    box-shadow: 0vw 0vw 2vw 0.1vw #cccccc;
    border-radius: 1vw;
    background-image: url("img/imageAddShift.png");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4vw;
    padding-top: 10vh;
    backdrop-filter: grayscale(80%);

}
.ShiftForm form
{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    font-size: 1.2vw;
}
.AddShift h2
{
    font-size: 2vw;
}
.inputAddShift
{
    border: 0.1vw solid #0A85ED;
    width: 14vw;
    height: 4vh;
    box-sizing: border-box;
    padding-left: 0.8vw;
    border-radius: 1vw;
    margin-bottom: 1vh;
}
#selectDep
{
    all: unset;
    border: 0.1vw solid #0A85ED;
    width: 14vw;
    height: 4vh;
    box-sizing: border-box;
    padding-left: 0.8vw;
    border-radius: 1vw;
}
.ShiftSubmit
{
    color: white;
    text-align: center;
}

#RemoveShiftModule 
{
    display: none;
    
}
#RemoveShiftModule .ShiftForm
{
    background-image: url('img/imageRemoveShift.png');
}
#selectToRemoveShift
{
    margin-top: 2vh;
    all: unset;
    width: 16vw;
    height: 30vh;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#selectToRemoveShift option
{
    all: unset;
    box-sizing: border-box;
    padding: 0.2vw;
}
